<div class="container">
    <div class="row">
        <div class="col s8">
            <ul class="collection" id="checkout-list">
            </ul>
        </div>
        <div class="col s4">
            <video id="video" width="320" height="240" autoplay></video>
        </div>
        <div class="col s12">
            <div class="progress">
            </div>
        </div>
        <div class="col s8">
            <a class="btn-floating btn-large waves-effect waves-light green" id="pay"><i class="material-icons">payment</i></a>
        </div>
        <div class="col s4" id="payed">

        </div>
        <div class="col s12">
            <center><i class="material-icons" id="eye">visibility</i></center>
        </div>
    </div>
</div>

<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l4 s12 red" id="person_info">
                <h5 class="white-text">Person erkennen</h5>
            </div>
            <div class="col l4 s12 red" id="checkout_info">
                <h5 class="white-text">Einkauf scannen</h5>
            </div>
            <div class="col l4 s12 red" id="payment_info">
                <h5 class="white-text">Bezahlung</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container"></div>
    </div>
</footer>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Add to Checkout</h4>
    </div>
</div>

<canvas id="canvas" height="240" style="display: none"></canvas>
<audio id="ching" src="audio/ching.wav" preload="auto"></audio>
<audio id="beep" src="audio/beep.wav" preload="auto"></audio>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
